body{
    height:100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}
#canvas{
    border: 2px solid black;
}
div{
    font-size: 40px;
}
button{
    background-color: red;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 2em;
    padding: 10px 10px;
    cursor: pointer;
}